*.out
archive.zip
*.uvgui*.*
*.scvd
*~*.*

sources/VS/Interface/.vs/*
sources/VS/Interface/VS-OSCI/NET/ControlLibraryS8-53/bin/*
sources/VS/Interface/VS-OSCI/NET/ControlLibraryS8-53/obj/*
sources/VS/Interface/VS-OSCI/NET/LibraryS8-53/bin/*
sources/VS/Interface/VS-OSCI/NET/LibraryS8-53/obj/*
sources/VS/Interface/VS-OSCI/NET/S8-53_ConsoleLAN/bin/*
sources/VS/Interface/VS-OSCI/NET/S8-53_ConsoleLAN/obj/*
sources/VS/Interface/VS-OSCI/NET/S8-53_ConsoleUSB/bin/*
sources/VS/Interface/VS-OSCI/NET/S8-53_ConsoleUSB/obj/*
sources/VS/Interface/VS-OSCI/NET/S8-53_Interface/bin/*
sources/VS/Interface/VS-OSCI/NET/S8-53_Interface/obj/*
sources/VS/Interface/VS-OSCI/NET/S8-53_LAN/bin/*
sources/VS/Interface/VS-OSCI/NET/S8-53_LAN/obj/*
sources/VS/Interface/VS-OSCI/NET/S8-53_USB/bin/*
sources/VS/Interface/VS-OSCI/NET/S8-53_USB/obj/*
sources/VS/Interface/VS-OSCI/NET/DebugPanel/bin/Release/*
sources/VS/Interface/VS-OSCI/NET/DebugPanel/obj/Release/*

sources/Loader/DebugConfig/*
sources/Loader/Listings/*
sources/Loader/Objects/*
sources/Loader/Listings-Debug/*
sources/Loader/Objects-Debug/*
sources/Loader/RTE

sources/Device/DebugConfig/*
sources/Device/Listings/*
sources/Device/Objects/*
sources/Device/Listings-Debug/*
sources/Device/Objects-Debug/*
sources/Device/*.bin
sources/Device/RTE

sources/Panel/DebugConfig/*
sources/Panel/Listings/*
sources/Panel/Objects/*
sources/Panel/Listings-Debug/*
sources/Panel/Objects-Debug/*
sources/Panel/RTE

sources/generated/*
